body {
    --bottom-gap: 20px;
    --font-size: 19px;
    --main-backcol: #222;
    --bright-backcol: #333;
    --light-backcol: #404040;
    --tag-color: #888;
    --main-textcol: #e0e0e0;

    margin: 0;
    background-color: var(--main-backcol);
    color: var(--main-textcol);
    font-family: sans-serif;
}

main {
    margin: 0 auto;
    max-width: 750px;
    padding: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--bottom-gap);
}

h1, h2, ul, ol, p, td {
    margin: 4px 0;

    &.center {
        display: flex;
        justify-content: center;
    }
}

li {
    font-size: var(--font-size);
    margin: 6px 0;
    line-height: 1.5em;
}

a {
    color: #9090e0;
    text-decoration: none;
}

p, td {
    font-size: var(--font-size);
    line-height: 1.5em;
}

code {
    background-color: #404040;
    padding: 2px 5px;
    border-radius: 3px;

    &.block {
        display: block;
        padding: 0 16px;
        border-radius: 8px;

        font-size: var(--font-size);
        text-align: left;
        
        white-space: nowrap;
        overflow: auto hidden;
    }

    &.nonwrap {
        white-space: nowrap;
    }

    &.block::-webkit-scrollbar {
        background-color: var(--main-backcol);
        height: 8px;
    }
    &.block::-webkit-scrollbar-thumb {
        background-color: var(--bright-backcol);
        border-radius: 10px;
    }
}

table {
    border-collapse: collapse;
    width: 100%;

    & caption {
        margin-bottom: 10px;
        font-size: var(--font-size);
        line-height: 1.5em;
    }
}

td {
    padding: 10px;
    border: var(--light-backcol) solid 2px;
}

div.note {
    padding: 10px;
    border-radius: 4px;
    background-color: var(--bright-backcol);
    border-left: #325eec solid 5px;
}

span.tag {
    color: var(--tag-color);
    font-family: Consolas;
}

span.kw { color: #325eec; }
span.fc { color: #e944db; }
span.co { color: #6A9955; }
span.cl { color: #CE9178; }
span.nl { color: #B5CEA8; }